hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

td{ /* for tags */
  word-break: break-all;
}
.menu_item_div
{
 display: inline-block !important; 
 vertical-align: middle !important;
}
.sub_title{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

.container_text{
  font-size: 22px;
}

.div_container{
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  display: inline-block;
  background-color: white;
  box-shadow: 5px 5px #bcc0c4;
}

.box{
  padding: 15px;
  background-color: white !important;
  background: white;
  border: 1px solid white !important;
  border-radius: 25px;
  box-shadow: 5px 5px #bcc0c4;
}

.box-header{
  background-color: #222d32 !important;
}

.box-body{
  min-height: 250px;
}

.scrollable{
  overflow-x: scroll;
}

.h3-example
{
  color: #FF6600;
}

.hr-example
{
  color: #FF6600;
  background-color: #FF6600;
  border-color: #FF6600;
}

.btn-run
{
  background-color: #4CAF50;
  color: #FFFFFF;
  font-weight: bold;
}

.btn-run:hover {
  background-color: #4CAF55 !important;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
  color: #FFFFFF!important;
  font-weight: bold!important;
}

.execTimeMessage {
  background-color: #222d32 !important;
  color: #FFFFFF!important;
  font-weight: bold!important;
  border-radius: 10px;
  box-shadow: 5px 5px #bcc0c4;
  padding:5px;
}

#metadataTable, #metadataTableATAC, #findMarkersTable, #findMarkersGenesTableATAC, #findMarkersPeaksTableATAC, #gProfilerTable, #findMotifsTableATAC,
#annotateClustersCIPRTable, #grnMatrixRNA_DecoupleR, #grnMatrixRNA, #grnMatrixATAC, #grnP2GlinksTable, #grnMotifTable{
  overflow-x: scroll;
}

#mainDiv
{
  width: 90%;
  height: 70vh;
  background-color: lightblue;

}

#clusterBarplot
{
  display: inline-block;
}

#clust1_loader{
  margin-top: 250px;
}

#clust2_loader{
  margin-top: 450px;
}

#grn2_loader{
  height: 0px;
}

#cellCycleMessage {
  background-color: #5197A3 !important;
  color: #FFFFFF!important;
  font-weight: bold!important;
  border-radius: 10px;
  box-shadow: 5px 5px #bcc0c4;
  padding:5px;
}